/*fonts*/
@import url("https://fonts.googleapis.com/css2?family=Gugi&family=Kanit:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap");
/* variables*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  background-color: #050821;
}

.navbar {
  position: fixed;
  z-index: 20;
  background-color: #050821;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  width: 100vw;
  height: 8vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .logo {
  font-family: 'Kanit', sans-serif;
  font-size: 2rem;
  color: #fff;
}

.navbar .logo span {
  color: #008aed;
}

.navbar .logo:hover {
  color: #008aed;
  cursor: pointer;
}

.carousel_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: #1c256b;
  width: 100vw;
  height: auto;
  overflow: hidden;
}

.carousel_slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400%;
  height: 100vh;
  -webkit-animation: slide  35s infinite;
          animation: slide  35s infinite;
}

.carousel_slider img {
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel_container::after,
.carousel_container::before {
  content: "";
  position: absolute;
  height: 100vh;
  width: 70vw;
  z-index: 2;
  background: -webkit-gradient(linear, left top, right top, from(black), color-stop(70%, rgba(20, 20, 20, 0)));
  background: linear-gradient(to right, black 0%, rgba(20, 20, 20, 0) 70%);
}

.carousel_container::before {
  left: 0;
  top: 0;
}

.carousel_container::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  30% {
    -webkit-transform: translateX(-200vw);
            transform: translateX(-200vw);
  }
  40% {
    -webkit-transform: translateX(-300vw);
            transform: translateX(-300vw);
  }
  50% {
    -webkit-transform: translateX(-400vw);
            transform: translateX(-400vw);
  }
  60% {
    -webkit-transform: translateX(-300vw);
            transform: translateX(-300vw);
  }
  70% {
    -webkit-transform: translateX(-200vw);
            transform: translateX(-200vw);
  }
  80% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  30% {
    -webkit-transform: translateX(-200vw);
            transform: translateX(-200vw);
  }
  40% {
    -webkit-transform: translateX(-300vw);
            transform: translateX(-300vw);
  }
  50% {
    -webkit-transform: translateX(-400vw);
            transform: translateX(-400vw);
  }
  60% {
    -webkit-transform: translateX(-300vw);
            transform: translateX(-300vw);
  }
  70% {
    -webkit-transform: translateX(-200vw);
            transform: translateX(-200vw);
  }
  80% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.carousel_heading {
  color: #fff;
  font-family: 'Gugi', cursive;
  font-weight: 400;
  z-index: 10;
  position: absolute;
  font-size: 5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-shadow: 2px 10px 4px rgba(0, 0, 0, 0.8);
}

.main_content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
}

.search_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 10%;
}

.search_label {
  font-size: 3rem;
  font-family: 'Kanit', sans-serif;
}

#search_input {
  padding-left: 20px;
  border: none;
  outline: none;
  border-radius: 20px;
  margin-top: 5%;
  margin-bottom: 3%;
  width: 60%;
  height: 30px;
}

#search_btn {
  cursor: pointer;
  width: 20%;
  height: 30px;
  background-color: #008aed;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 10px;
}

#search_btn:hover {
  background-color: #24a0f8;
}

#movies_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.movie_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 60%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #1c256b;
  width: 100%;
}

#movie_img {
  cursor: pointer;
  -webkit-box-shadow: 10px, 30px #222;
          box-shadow: 10px, 30px #222;
  position: relative;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

#movie_img:hover {
  -webkit-transform: translate3d(0, -15px, 0);
          transform: translate3d(0, -15px, 0);
  border: solid 3px #24a0f8;
}

#movie_img-container {
  position: relative;
  margin: 10px;
  top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #03062b;
  width: 250px;
  height: 420px;
  padding: 30px;
}

/*responsive*/
@media (max-width: 800px) {
  .carousel_heading {
    font-size: 2rem;
    left: 50%;
  }
}

@media (max-width: 600px) {
  #search_btn {
    width: 60px;
  }
  .main_content {
    width: 100vw;
  }
  .container {
    width: 80vw;
  }
  .carousel_container {
    width: 100vw;
    overflow-x: hidden;
  }
  .navbar {
    width: 100vw;
  }
  #movies_section {
    width: 80vw;
  }
  .search_container {
    width: 200px;
    height: 2rem;
  }
  .carousel_container::after, .carousel_container::before {
    display: none;
  }
  .carousel_slider {
    top: 55px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 40vh;
    -webkit-animation: slide  35s infinite;
            animation: slide  35s infinite;
  }
  .carousel_slider img {
    width: 100%;
  }
  .carousel_heading {
    font-size: 1rem;
    left: 50%;
  }
  .search_label {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=styles.css.map */